---

import BookCoverHeroCodeInjection from './BookCoverHeroCodeInjection.astro';
import DeveloperCircles from '~/components/widgets/DeveloperCircles.astro';
import BookBundleBuyTip from '~/components/atoms/BookBundleBuyTip.astro';

export interface Props {
	title?: string;
	subtitle?: string;
	image?: string | any;
	bundlePricing?: object;
	bookPricing?: object;
}

const {
	title,
	subtitle,
	bundlePricing,
	bookPricing
} = Astro.props;
---

<div>
	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 mx-auto max-w-screen-xl text-center lg:py-8 lg:px-12">

			{
				title && (
					<div class="mb-4">
						<h1 class="text-5xl md:text-6xl font-extrabold leading-none tracking-tighter mb-4 font-heading dark:text-gray-200">
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-secondary-500">
								{title}
							</span>
						</h1>
						<h2 class="my-auto text-4xl font-semibold">{subtitle}</h2>
					</div>
				)
			}

			<BookCoverHeroCodeInjection
				discountPercentage={bookPricing.discountPercentage}
				linkBuy={bookPricing.linkBuy}
				priceBeforeDiscount={bookPricing.priceBeforeDiscount}
				priceAfterDiscount={bookPricing.priceAfterDiscount}
			/>

			<BookBundleBuyTip
				bundlePricing={bundlePricing}
			/>
			
			<DeveloperCircles />

		</div>
	</section>
</div>
