---

import BookCoverHeroCodeInjection from './BookCoverHeroCodeInjection.astro';
import DeveloperCircles from '~/components/widgets/DeveloperCircles.astro';

export interface Props {
	title?: string;
	subtitle?: string;
	image?: string | any;
	bundlePricing?: object;
	bookPricing?: object;
}

const {
	title,
	subtitle,
	bundlePricing,
	bookPricing
} = Astro.props;
---

<div>
	<section class="bg-white dark:bg-gray-900 pt-14">
		<div class="mx-auto max-w-screen-2xl">
			<div class="flex flex-col mx-4 md:flex-row justify-center gap-24">

				<div class="flex flex-col justify-center">
					<h1 class="text-5xl md:text-5xl font-extrabold leading-none tracking-tighter font-heading dark:text-gray-200">
						<span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-secondary-500">
							{title}
						</span>
					</h1>
					<h2 class="text-3xl font-regular">{subtitle}</h2>

					<div class="mt-12 md:mb-44">
						<p class="block mt-4">
							You heard <code class="text-blue-500"> eval()</code>
							and <code class="text-blue-500">new Function()</code> are 
							dangerous but have you seen them in action for real-world use cases?
						</p>
						<p class="block mt-4">
							Do you know why Node.js <code class="text-blue-500">vm module</code> is dangerous?
							Do you know how to exploit <code class="text-blue-500">require</code> 
							 and <code class="text-blue-500">import</code> as security sinks?
						</p>
						<p>

						</p>
						<p class="block mt-4">
							<span class="font-semibold underline decoration-blue-500 decoration-2 underline-offset-4">Get trained on secure coding techniques</span> that's hacker-proof and 
							build unbreakable Node.js and Server-side JavaScript apps.
						</p>
					</div>
					
				</div>
				

				<div class="">
					<BookCoverHeroCodeInjection
						discountPercentage={bookPricing.discountPercentage}
						linkBuy={bookPricing.linkBuy}
						priceBeforeDiscount={bookPricing.priceBeforeDiscount}
						priceAfterDiscount={bookPricing.priceAfterDiscount}
					/>
					<DeveloperCircles />
				</div>
			</div>
		</div>
	</section>
			
			
</div>
