---
import { Icon } from 'astro-icon';
import { PROFILE, STORE } from '~/config.mjs';
import { getHomePermalink } from '~/utils/permalinks';
import { fetchPosts } from '~/utils/posts';

const posts = await fetchPosts();
const recentBlogPosts = posts.slice(0, 5)

export const FOOTER = {
	published_author_links: [
		{
			title: 'Published Author',
			items: [
				{
					title: 'Command Injection',
					icon: 'emojione:hot-pepper',
					link: 'https://www.nodejs-security.com/book/command-injection',
				},
				{
					title: 'Path Traversal',
					icon: 'emojione:hot-pepper',
					link: 'https://www.nodejs-security.com/book/path-traversal',
				},
				{
					title: 'Code Injection',
					icon: 'emojione:hot-pepper',
					link: 'https://www.nodejs-security.com/book/code-injection',
				},
				{
					title: 'Essential Node.js Security',
					link: 'https://www.nodejs-security.com/book/essential-nodejs-security',
				},
				{
					title: "O'Reilly Serverless Security",
					link: 'https://www.oreilly.com/library/view/serverless-security/9781492082538/',
				},
				{
					title: "Web Security: Learning HTTP Security Headers",
					link: 'https://nodejs-secure-coding.lirantal.com/checkout/buy/3e91088f-cbb8-41a0-9c3a-5d60233f6f7b?',
				},
			],
		},
	],
	author_profile_links: [
		{
			title: 'GitHub Star 2023',
			link: 'https://stars.github.com/profiles/lirantal/',
			icon: 'fxemoji:star',
		},
		{
			title: 'Pathfinder Award for Security',
			link: 'https://openjsf.org/blog/openjs-world-2022-heres-what-you-missed',
			icon: 'logos:openjs-foundation-icon',
		},
	],
};

const { bg, copyrights } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer class:list={['border-t border-gray-200 dark:border-slate-800', bg]}>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-3 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12 mb-2">
			<div>
				<a class="inline-block font-bold text-xl" href={getHomePermalink()}>Liran Tal</a>

				<ul class="text-sm">
					<li class="mb-2">
						<a
							class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
							href="https://lirantal.com/recognitions"
						>
							Award-winning security champion, open source advocate, and self-published author.
						</a>
					</li>
				</ul>
				<ul class="text-sm">
					{
						FOOTER.author_profile_links.map((item) => {
							return (
								<li class="mb-2">
									{item.icon ? <Icon name={item.icon} class="inline-flex w-5 h-5" /> : ''}
									<a
										class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
										href={item.link}
									>
										{item.title}
									</a>
								</li>
							);
						})
					}
				</ul>
			</div>

			{
				FOOTER.published_author_links.map((column) => {
					return (
						<>
							<div>
								<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">{column.title}</div>
								<ul class="text-sm">
									{column.items.map((item) => {
										return (
											<li class="mb-2">
												<div class="flex">
													<div class="flex items-center">
														{item.icon ? <Icon name={item.icon} class="w-3 h-3" /> : ''}
													</div>
													<div class={`flex ml-${item.icon ? '2' : '8'}`}>
														<a class="  text-gray-600 hover:text-gray-700 dark:text-gray-400" href={item.link}>
															{item.title}
														</a>
													</div>
												</div>
											</li>
										);
									})}
								</ul>
							</div>
						</>
					);
				})
			}

			<div>
				<div class="text-gray-800 dark:text-gray-300 font-medium mb-2">Blog latest articles</div>
				<ul class="text-sm">
					{recentBlogPosts.map((item) => {
						return (
							<li class="mb-2">
								<div class="flex">
									<a class="text-xs text-gray-600 hover:text-gray-700 dark:text-gray-400" href={'/blog/' + item.slug}>
										{item.title}
									</a>
								</div>
							</li>
						);
					})}
				</ul>
			</div>
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS"
						href="/rss.xml"
					>
						<Icon name="mdi:rss" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="LinkedIn"
						href={PROFILE.linkedinURL}
					>
						<Icon name="mdi:linkedin" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Twitter"
						href={PROFILE.twitterURL}
					>
						<Icon name="mdi:twitter" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href={PROFILE.githubURL}
					>
						<Icon name="mdi:github" class="w-5 h-5" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Mastodon"
						href={PROFILE.mastodonURL}
						rel="me"
					>
						<Icon name="mdi:mastodon" class="w-5 h-5" />
					</a>
				</li>
			</ul>

			<div class="text-xs text-gray-700 mr-4 dark:text-slate-400">
				<div class="mb-2">© {currentYear} Liran Tal</div>
				<div>
					{copyrights}
				</div>
			</div>
		</div>
	</div>
</footer>
