---
export interface Props {
	title?: string;
	subtitle?: string;
	pretitle?: string;
	BOOK_COMMAND_INJECTION?: {
		href: string;
		priceNew: string;
		priceOld: string;
	};
	BOOK_PATH_TRAVERSAL?: {
		href: string;
		priceNew: string;
		priceOld: string;
	};
}

const { title, subtitle, pretitle, BOOK_COMMAND_INJECTION, BOOK_PATH_TRAVERSAL } = Astro.props;
---

<div>
	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-8 lg:px-12">
			<!-- Top Section button CTA -->
			<!-- <a
				href={BOOK_COMMAND_INJECTION?.href}
				class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
				role="alert"
				target="_blank"
				rel="noopener"
			>
				<span class="text-xs bg-yellow-300 rounded-full text-slate-900 px-4 py-1.5 mr-3">New</span>
				<span class="text-sm font-medium">30% DISCOUNT</span>
				<svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
						clip-rule="evenodd"></path></svg
				>
			</a> -->

			{
				title && (
					<div class="mb-4">
						<h1 class="text-5xl md:text-6xl font-extrabold leading-none tracking-tighter mb-4 font-heading dark:text-gray-200">
							<div class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-5xl dark:text-white">
								{pretitle}
							</div>

							<span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-secondary-500">
								{title}
							</span>
						</h1>
						<h2 class="my-auto text-4xl font-semibold">{subtitle}</h2>
					</div>
				)
			}

			<p class="mb-4 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-32 dark:text-gray-400">
				Master Node.js security and secure coding best practices through analyzing and exploiting real-world vulnerable
				npm packages.
			</p>
			<div class="flex flex-col mb-8 lg:mb-8 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
				<!-- {
                    CTA2 && (
                        <a
                            _class="w-full sm:w-auto bg-pink-500 hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-pink-500 dark:hover:bg-pink-700 dark:focus:ring-gray-700"
                            class="w-full sm:w-auto inline-flex items-center justify-center text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                            href={CTA2?.href}
                            target="_blank"
                            rel="noopener"
                        >
                            <div class="font-normal">{CTA2?.text}</div>
                            <div class="text-lg ml-2 text-purple-200">|</div>
                            {
                                CTA2?.priceNew ? (
                                    
                                    <div class="text-white-300 pl-2 font-regular text-sm">{CTA2?.priceNew}</div>
                                    <div class="line-through pl-3 text-lg">{CTA2?.priceOld}</div>
                                )
                                : (

                                <div class="pl-2 text-xs">{CTA2?.priceOld}</div>
                                )
                            }
                            
                        </a>
                    )
                    
                } -->
				<!-- <a
					href="#"
					class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
				>
					Learn more
					<svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
							clip-rule="evenodd"></path></svg
					>
				</a> -->
				<!-- <a
					href="#"
					class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
				>
					<svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
						><path
							d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"
						></path></svg
					>
					Watch video
				</a> -->
			</div>
			<div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
				<span class="font-semibold text-gray-400 uppercase"></span>

				<div class="mt-4">
					<div class="flex mb-2 -space-x-4">
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader1.jpg"
							alt="Thomas"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader2.jpg"
							alt="Manuel"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader3.jpg"
							alt="Yoni"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader21.jpg"
							alt="Tally"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader4.jpg"
							alt="Mateo"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader5.jpg"
							alt="Sergio"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader20.jpg"
							alt="Manu"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader6.jpg"
							alt="Hung"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader7.jpg"
							alt="Kriakos"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader19.jpg"
							alt="Sophia"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader8.jpg"
							alt="Daniel"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader9.jpg"
							alt="David"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader10.jpg"
							alt="Miguel"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader11.jpg"
							alt="Joachim"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader12.jpg"
							alt="Jesús"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader13.jpg"
							alt="DiMilan"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader14.jpg"
							alt="Ashif"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader15.jpg"
							alt="Ivan"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader16.jpg"
							alt="Heru"
							loading="lazy"
						/>
						<img
							class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
							src="/images/readers/reader17.jpg"
							alt="Ngoran"
							loading="lazy"
						/>
						<span
							class="pl-3 flex items-center justify-center w-12 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
							>+99</span
						>
					</div>
					<p class="text-sm font-light">
						Join Kyriakos, Sergio, Mateo, and hundreds of developers who learn from Liran Tal
					</p>
				</div>
			</div>
		</div>

		<section class="bg-white dark:bg-gray-900">
			<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 lg:px-6">
				<div class="grid gap-8 mb-6 lg:mb-4 md:grid-cols-2">
					<!-- Begin book section -->
					<div class="col-span-1 bg-gray-50 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
						<div>
							<div class="m-2 p-2 flex flex-col items-center text-center justify-center">
								<h2 class="text-md font-normal tracking-tight text-gray-900 dark:text-white">
									Node.js Secure Coding:
									<span class="block"></span>
									Defending Against Command Injection Vulnerabilities
								</h2>
								<div class="w-12 h-1 bg-indigo-500 rounded mt-2"></div>
							</div>
						</div>

						<div class="items-end bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
							<div class="relative m-auto">
								<img
									class="mx-auto shadow-lg"
									src="/images/book/book-command-injection-cover-light.png"
									alt="Node.js Secure Coding: Defending Against Command Injection Vulnerabilities"
									loading="eager"
								/>
							</div>

							<div class="p-5 min-w-fit">
								<h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
									<a href="#"></a>
								</h3>

								<span class="text-gray-500 dark:text-gray-400 text-sm"></span>

								<div class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
									<ul role="list" class="space-y-2 my-7">
										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">PDF & EPUB</span>
										</li>
										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">106 Pages</span>
										</li>

										<li class="flex space-x-1 items-center mt-18">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">
												12 Vulnerable npm Packages</span
											>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white"
												>33 Self-assessment Questions</span
											>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">10 Chapters</span>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-purple-400 dark:text-purple600"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">Dark Mode</span>
											<span
												class="bg-purple-600 text-slate-100 text-xs ml-1e px-1 font-medium rounded dark:bg-purple-600 dark:text-slate-100"
												>SPECIAL EDITION
											</span>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-yellow-300 dark:text-yellow-300"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">Sale</span>
											<span
												class="bg-yellow-100 text-yellow-800 text-xs ml-1e px-1 font-medium rounded dark:bg-yellow-300 dark:text-yellow-900"
												>30% OFF
											</span>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-green-300 dark:text-green-300"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">July 2023 edition</span>
										</li>
									</ul>

									<div class="mt-4"></div>
								</div>

								<div>
									<a class="text-indigo-500 inline-flex items-center text-sm" href="/book/command-injection">
										Take a peak
										<svg
											fill="none"
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											class="w-4 h-4 ml-2"
											viewBox="0 0 24 24"
										>
											<path d="M5 12h14M12 5l7 7-7 7"></path>
										</svg>
									</a>
								</div>

								<div class="pt-12 flex items-center justify-between">
									<span class="text-sm font-base text-gray-900 dark:text-white">{BOOK_COMMAND_INJECTION?.priceNew}</span
									>
									<a
										class="w-full sm:w-auto inline-flex items-center justify-center text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded text-sm px-5 py-2 text-center"
										href={BOOK_COMMAND_INJECTION?.href}
										target="_blank"
										rel="noopener"
										>Buy
									</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Begin book section -->
					<div class="col-span-1 bg-gray-50 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
						<div>
							<div class="m-2 p-2 flex flex-col items-center text-center justify-center">
								<h2 class="text-md font-normal tracking-tight text-gray-900 dark:text-white">
									Node.js Secure Coding:
									<span class="block"></span>
									Prevention and Exploitation of Path Traversal Vulnerabilities
								</h2>
								<div class="w-12 h-1 bg-indigo-500 rounded mt-2"></div>
							</div>
						</div>

						<div class="items-end bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
							<div class="relative m-auto">
								<img
									class="mx-auto shadow-lg"
									src="/images/book/book-path-traversal-cover-light.png"
									alt="Node.js Secure Coding: Prevention and Exploitation of Path Traversal Vulnerabilities"
									loading="eager"
								/>
							</div>

							<div class="p-5 min-w-fit">
								<h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
									<a href="#"></a>
								</h3>

								<span class="text-gray-500 dark:text-gray-400 text-sm"></span>

								<div class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
									<ul role="list" class="space-y-2 my-7">
										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">PDF & EPUB</span>
										</li>
										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">117 Pages</span>
										</li>

										<li class="flex space-x-1 items-center mt-18">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">
												7 Vulnerable npm Packages</span
											>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white"
												>40 Self-assessment Questions</span
											>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-blue-600 dark:text-blue-500"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">11 Chapters</span>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-purple-400 dark:text-purple600"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">Dark Mode</span>
											<span
												class="bg-purple-600 text-slate-100 text-xs ml-1e px-1 font-medium rounded dark:bg-purple-600 dark:text-slate-100"
												>SPECIAL EDITION
											</span>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-yellow-300 dark:text-yellow-300"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">Sale</span>
											<span
												class="bg-yellow-100 text-yellow-800 text-xs ml-1e px-1 font-medium rounded dark:bg-yellow-300 dark:text-yellow-900"
												>30% OFF
											</span>
										</li>

										<li class="flex space-x-1 items-center">
											<svg
												class="flex-shrink-0 w-3 h-3 text-green-300 dark:text-green-300"
												aria-hidden="true"
												xmlns="http://www.w3.org/2000/svg"
												fill="currentColor"
												viewBox="0 0 20 20"
											>
												<path
													d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
												></path>
											</svg>
											<span class="text-sm leading-tight text-gray-900 dark:text-white">September 2023 EDITION</span>
										</li>
									</ul>

									<div class="mt-4"></div>
								</div>

								<div>
									<a class="text-indigo-500 inline-flex items-center text-sm" href="/book/path-traversal">
										Learn more
										<svg
											fill="none"
											stroke="currentColor"
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											class="w-4 h-4 ml-2"
											viewBox="0 0 24 24"
										>
											<path d="M5 12h14M12 5l7 7-7 7"></path>
										</svg>
									</a>
								</div>

								<div class="pt-12 flex items-center justify-between">
									<span class="text-sm font-base text-gray-900 dark:text-white">{BOOK_PATH_TRAVERSAL?.priceNew}</span>
									<a
										class="w-full sm:w-auto inline-flex items-center justify-center text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded text-sm px-5 py-2 text-center"
										href={BOOK_PATH_TRAVERSAL?.href}
										target="_blank"
										rel="noopener"
										>Buy
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>
