---
import { Icon } from 'astro-icon';

const testimonials = [
	{
		name: 'Thomas Gentilhomme',
        picture: '/images/testimonials/thomas-gentilhomme.jpg',
		title: 'Node.js lead at MyUnisoft, Node Security WG',
		message: `I have finished reading Node.js Secure Coding from Liran Tal. I read the whole thing in an hour without realizing it. I learned and discovered a few things along the way. I laughed at the IFS, didn't see it coming.`,
	},
    {
        name: 'Manuel Spigolon',
        picture: '/images/testimonials/manuel-spigolon.jpg',
        title: 'Senior Software Developer at NearForm',
        message: `Liran Tal, your book on Node.js security is an absolute gem! The abundance of real-world examples with commented fixes is incredibly valuable 👏 Your practical solutions have enlightened me, especially the discovery of the shell-quote module! Recommended to all Node.js developers!`
    },
	{
        name: 'Yoni Goldberg',
        picture: '/images/testimonials/yoni-goldberg.png',
        title: 'Software Architect, Node.js Specialist',
        message: `I wholeheartedly enjoyed working and learning from Liran's expertise in securing applications. With extensive experience speaking at global conferences and actively contributing code to the community, he is a true authority in the field. I highly endorse both his enlightening book and engaging workshop, as they are invaluable resources for anyone looking to enhance their understanding and implementation of application security`
    },
	{
		name: "Daniel Garcia",
		picture: "/images/testimonials/daniel-garcia.jpg",
		title: "Cybersecurity & API Security Consultant",
		message: "Liran Tal just published a new book about Node.js secure coding. It is worth taking a look at!"
	},
	{
		name: "Eli (Tom) Lelonek",
		picture: "/images/testimonials/eli-lelonek.jpg",
		title: "Application Security Manager at Allot",
		message: "I highly recommend the new Node.js Secure Coding book published by Liran Tal. Covers not only Node.js but also gives you another perspective on how to achieve good and secure applications, especially with understanding and handling SAST vulnerabilities. Liran - CHAPEAU!"
	},
	{
		name: "Marco Ippolito",
		picture: "/images/testimonials/marco-ippolito.jpg",
		title: "Node.js Collaborator & Developer Experience Engineer @NearForm",
		message: "Got my copy of Node.js secure coding! I already know I'll learn a lot 🔥"
	},
	// @TODO ONLY ADD WHEN WE CAN GET 2 MORE TESTIMONIALS
	// {
	// 	name: "Diego Betto",
	// 	picture: "/images/testimonials/diego-betto.jpg",
	// 	title: "Founder & Senior Fullstack Developer",
	// 	message: "A very interesting book that I recommend if you are in the Node.js world is \"Node.js Secure Coding\" by Liran Tal. Laid out with explanations, examples and tips. Warmly recommended."
	// }

	// {
	// 	name: "Aranđel Šarenac",
	// 	picture: "/images/testimonials/arandel.jpg",
	// 	title: "12+ years developer, focusing on Identity Security",
	// 	message: "Read trough first 3 chapters last night, nice work Liran!"
	// }
];

const starsFillColor = 'gold'
---

<!-- <section class="body-font">
	<div class="container px-5 py-24 mx-auto"> --><!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6 max-md:px-4">
	<section class="mb-32 text-center">
		<h2 class="mb-4 text-3xl font-bold ">Developers Love Node.js Secure Coding</h2>
        <p class="sm:px-16 xl:px-64">
            Read testimonials and learn what the developer community has to say about the books and their recommendations to follow Node.js Secure Coding practices.
        </p>
        <div class="mt-12 grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
		{
			testimonials.map((testimonialItem) => {
				return (
					
						<div class="mb-12">
							<div class="mb-6 flex justify-center">
								<img
									src={testimonialItem.picture}
									alt={testimonialItem.name}
									class="w-16 rounded-full shadow-lg dark:shadow-black/20"
								/>
							</div>
							<h5 class="mb-2 text-lg font-bold">{testimonialItem.name}</h5>
							<h6 class="mb-4 font-light text-primary dark:text-pink-500">{testimonialItem.title}</h6>
							<p class="mb-4">
								{testimonialItem.message}
                                <!--
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="inline-block w-6">
									<path
										fill="currentColor"
										d="M580 556h160V396H580v160Zm-360 0h160V396H220v160Zm406 220 80-160H520V336h280v288l-76 152h-98Zm-360 0 80-160H160V336h280v288l-76 152h-98Zm34-300Zm360 0Z"
									/>
								</svg>
                            -->
							</p>
							<ul class="mb-0 flex justify-center">
								<li>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
										<path
											fill={starsFillColor}
											d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"
										/>
									</svg>
								</li>
								<li>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
										<path
                                        fill={starsFillColor}
											d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"
										/>
									</svg>
								</li>
								<li>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
										<path
                                        fill={starsFillColor}
											d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"
										/>
									</svg>
								</li>
								<li>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
										<path
                                        fill={starsFillColor}
											d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"
										/>
									</svg>
								</li>
								<li>
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960" class="w-5 text-warning">
										<path
                                        fill={starsFillColor}
											d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"
										/>
									</svg>
								</li>
							</ul>
						</div>
					
				);
			})
		}
        </div>
	</section>
</div>
<!-- Container for demo purpose -->
<!-- </div>
</section> -->
