---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/BlogLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/atoms/Pagination.astro';

import { fetchPosts } from '~/utils/posts';
import { getCanonical, getPermalink, BLOG_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }) {
	if (BLOG?.disabled || BLOG?.blog?.disabled) return [];

	const posts = await fetchPosts();

	const pathEntries = paginate(posts, {
		params: { blog: BLOG_BASE || undefined },
		pageSize: BLOG.postsPerPage,
	});

	return pathEntries;
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

import ogImage from '~/assets/images/blog-og-v1.png';

const meta = {
	title: `Blog ${currentPage > 1 ? `— Page ${currentPage} ` : ''}— ${SITE.name}`,
	description: SITE.description,
	canonical: getCanonical(page.url.current),
	ogType: 'blog',
	noindex: false,
	image: ogImage,
};
---

<Layout {meta}>
	<Fragment slot="title">
		The
		<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">
			Node.js Secure Coding
		</span>
		Blog
	</Fragment>
	<br />
	<BlogList posts={page.data} />
	<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</Layout>
