---

import BookCoverHeroPathTraversal from './BookCoverHeroPathTraversal.astro';
import DeveloperCircles from '~/components/widgets/DeveloperCircles.astro';

export interface Props {
	title?: string;
	subtitle?: string;
	image?: string | any;
	bundlePricing?: object;
	bookPricing?: object;
}

const {
	title,
	subtitle,
	bundlePricing,
	bookPricing,
} = Astro.props;
---

<div>
	<section class="bg-white dark:bg-gray-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-8 lg:px-12">
			<!-- <a
				href={CTA2?.href}
				class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
				role="alert"
				target="_blank"
				rel="noopener"
			>
				<span class="text-xs bg-yellow-300 rounded-full text-slate-900 px-4 py-1.5 mr-3">New</span>
				<span class="text-sm font-medium">30% DISCOUNT</span>
				<svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
						clip-rule="evenodd"></path></svg
				>
			</a> -->
			<!-- <h1
				class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
			>
			</h1> -->

			{
				title && (
					<div class="mb-4">
						<h1 class="text-5xl md:text-6xl font-extrabold leading-none tracking-tighter mb-4 font-heading dark:text-gray-200">
							<span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-secondary-500">
								{title}
							</span>
						</h1>
						<h2 class="my-auto text-4xl font-semibold">{subtitle}</h2>
					</div>
				)
			}

			<div class="m-6 p-6">
				<code
					class="w-full text-sm sm:text-base inline-flex text-left items-center space-x-4 bg-gray-800 text-white p-4 pl-6"
				>
					<span class="flex gap-4">
						<span class="shrink-0 text-gray-500"> $</span>

						<span class="flex-1">
							<span> npm install</span>

							<span class="text-yellow-500"> url-parse serve @node-red/runtime</span>
						</span>
					</span>
				</code>

				<code>
					<div class="w-full text-sm sm:text-base text-left items-center space-x-4 bg-gray-800 text-white -p-4 pl-6">
						<span class="text-gray-300">added 176 packages, and audited 177 packages in 16s</span>
					</div>
					<div
						class="w-full text-sm sm:text-base text-left items-center space-x-4 bg-gray-800 text-white -p-4 pb-4 pl-6"
					>
						<span class="text-red-700">12 high<span class="text-gray-300"> severity vulnerabilities</span></span>
					</div>
				</code>

				<p class="mt-2 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-32 dark:text-gray-400">
					Don't take security vulnerabilities for granted.
					<span class="block"></span>
					Learn how to write secure code.
				</p>
			</div>

			<BookCoverHeroPathTraversal
				discountPercentage={bookPricing.discountPercentage}
				linkBuy={bookPricing.linkBuy}
				priceBeforeDiscount={bookPricing.priceBeforeDiscount}
				priceAfterDiscount={bookPricing.priceAfterDiscount}
			/>
			
			<DeveloperCircles />

		</div>
	</section>
</div>
