---
import { STORE, buildBookPricing} from '~/config.mjs';

import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/BooksLayout.astro';
import Hero from '~/components/widgets/EssentialNodejsSecurity/Hero.astro';
import BookAuthor from '~/components/widgets/CommandInjection/BookAuthor.astro';
import FAQ from '~/components/widgets/PathTraversal/FAQ.astro';
import TestimonialHeroBlock from '~/components/widgets/CommandInjection/TestimonialHeroBlock.astro';
import TestimonialCollection from '~/components/widgets/TestimonialCollection.astro';
import ScaleUpSecurity from '~/components/widgets/EssentialNodejsSecurity/ScaleUpSecurity.astro';
import TestimonialCollectionOther from '~/components/widgets/EssentialNodejsSecurity/TestimonialCollection.astro'
import BookCoverHeroCommandInjection from '~/components/widgets/CommandInjection/BookCoverHeroCommandInjection.astro';
import BookCoverHeroPathTraversal from '~/components/widgets/PathTraversal/BookCoverHeroPathTraversal.astro';
import BookBundleBuyTip from '~/components/atoms/BookBundleBuyTip.astro';

import ogImage from '~/assets/images/essential-nodejs-security-opengraph.png';

const meta = {
	title: 'Essential Node.js Security',
	description: `for Express Web Applications`,
	canonical: getCanonical(getHomePermalink()),
	image: ogImage,
};

let discountCode

discountCode = Astro.url.searchParams.get('discount_code') || 'C1MZE0OA';
const bundlePricing = buildBookPricing({discountCode: '', bookId: 'bundle'});
const bookPricing = buildBookPricing({discountCode, bookId: 'EssentialNodejsSecurity'});

discountCode = Astro.url.searchParams.get('discount_code') || 'default';
const CommandInjectionPricing = buildBookPricing({discountCode, bookId: 'CommandInjection'});
const PathTraversalPricing = buildBookPricing({discountCode, bookId: 'PathTraversal'});

// This page route is rendered on-demand on the server
export const prerender = false
---

<Layout {meta}>
	<Hero
		title="Essential Node.js Security"
		subtitle="for Express Web Applications"
        description="Hands-on and abundant with source code for a practical guide to Securing Node.js web applications."

		bundlePricing={bundlePricing}
		bookPricing={bookPricing}
	/>

    <ScaleUpSecurity />

    <TestimonialCollectionOther />

    <div class="mx-auto my-12 text-center">
        <h1 class="text-3xl">
            Check out Liran's newest
            <span class="block"></span>
            <span class="font-bold">
                Node.js Secure Coding 
            </span>
            books
            <span class="block"></span>
            👇
        </h1>

    </div>

	<BookCoverHeroCommandInjection
		linkLearnMore={"/book/command-injection"}
		discountPercentage={CommandInjectionPricing.discountPercentage}
		linkBuy={CommandInjectionPricing.linkBuy}
		priceBeforeDiscount={CommandInjectionPricing.priceBeforeDiscount}
		priceAfterDiscount={CommandInjectionPricing.priceAfterDiscount}
	/>

    <BookBundleBuyTip
		bundlePricing={bundlePricing}
	/>

	<BookCoverHeroPathTraversal
		linkLearnMore={"/book/path-traversal"}
		discountPercentage={PathTraversalPricing.discountPercentage}
		linkBuy={PathTraversalPricing.linkBuy}
		priceBeforeDiscount={PathTraversalPricing.priceBeforeDiscount}
		priceAfterDiscount={PathTraversalPricing.priceAfterDiscount}
	/>

	<TestimonialHeroBlock />

	<BookAuthor />

    <TestimonialCollection />

	<FAQ />
	
</Layout>